<p id="notice"><%= notice %></p>

<h1>People</h1>
<%= link_to 'New person', new_person_path %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Job</th>
      <th>Bio</th>
      <th>Gender</th>
      <th>Birthdate</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= image_tag person.picture.variant(resize: "100 x100") if person.picture.attached? %></td>
        <td><%= link_to person.first_name, person_path(person) %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><%= person.job %></td>
        <td><%= person.bio %></td>
        <td><%= display_gender(person.gender) %></td>
        <td><%= person.birthdate %></td>
      </tr>
    <% end %>
  </tbody>
</table>