<div class="alert alert-success" role="alert"><%= notice %> </div>


<div class="card">
 <div class="card-header">
    Profile <%= link_to 'Edit', edit_person_path(@person) %> |
    <%= link_to 'Back', people_path %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @person.first_name %> <%= @person.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @person.email %></h6> 

    <div class="row">
    <div class="col-md-6">
       <%= image_tag @person.picture.variant(resize: "400 x400") %>
    </div>

      <div class="col-md-6">
         <p>
           <strong>bio:</strong>
           <%= @person.bio %>
        </p>
        <p>
         <strong>job:</strong>
         <%= @person.job %>
        </p>

        <p>
  <strong>gender:</strong>
  <%= display_gender(@person.gender) %>
</p>

<p>
  <strong>birthdate:</strong>
  <%= @person.birthdate %>
</p>

      </div>

    </div>
  </div>
</div>
 












