<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
    <div class="card-header">
        Building Profile
    </div>
    <div class="card-body">
        <h5 class="card-title">Name: <%= @building.name %></h5>
        <p class="card-text">Location: <%= @building.location %>.</p>
        <%= link_to 'Edit', edit_building_path(@building), class: "btn btn-outline-success" %> 
        <%= link_to 'Cancel', buildings_path, class: "btn btn-outline-danger" %>
    </div>
    <div class="card-footer text-muted">
        Record Creation <%= @building.created_at %>
        <%= link_to 'Delete', @building, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
    </div>
    </div>
  </div>
</div>