<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Business Profile
      </div>
      <div class="card-body">
        <h5 class="card-title">Name: <%= @company.name %></h5>
        <p class="card-text">Business Description: <%= @company.business_description %>.</p>
        <div class="row">
           <div class="col-md-12"> 
              <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-outline-success" %> 
              <%= link_to 'Cancel', companies_path, class: "btn btn-outline-danger" %>      
          </div>
        </div>
        <br/>
        <%= render 'buildings', buildings: @company.buildings %>      
      </div>
      <div class="card-footer text-muted">
        Record Creation <%= @company.created_at %>
        <%= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
      </div>
    </div>
  </div>
</div>